<!DOCTYPE html>
<html ng-app="pganalytics">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>

	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<link rel="stylesheet/less" type="text/css" href="css/login.less" />
	<script src="bower_components/less/dist/less.js"></script>

	<title>pgAnalytics - Reiniciar Senha</title>
	<link rel="shortcut icon" href="/pga/favicon.ico" />

	<!-- Controllers -->
	<script src="js/utils.js"></script>
	<script src="js/controllers/resetPasswordController.js"></script>
</head>
<body ng-controller="ResetPasswordCtrl" ng-init="init()">
	<div class="componente-login">
		<div class="logo">
			<img src="img/logo_pga.png" alt="pganalytics" id="logo">
		</div>
		<form role="form" class="centralizador-componente"name="login" id="login" action="/pga/s/auth/validateresettoken" method="POST">
			<div class="areaLogin">
				<h3>Reiniciar senha</h3>
				<div class="form-group form-login">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<label for="token">Token</label>
					<input class="form-control" id="token" name="token" type="text" placeholder="Token" autocomplete="off" ng-model="token">
				</div>
				<div class="form-group form-login">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<label for="_fuser">Usuário</label>
					<input class="form-control" id="_fuser" name="username" type="text" placeholder="Usuário" autocomplete="off" ng-model="username">
				</div>
				<div class="form-group">
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
					<label for="_fpass">Senha</label>
					<input class="form-control" id="_fpass" name="password" type="password" placeholder="Senha" autocomplete="off">
				</div>
				<div class="form-group">
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
					<label for="_fpass">Confirmar senha</label>
					<input class="form-control" id="_fpass" name="confirm_password" type="password" placeholder="Senha" autocomplete="off">
				</div>
				<button type="submit" class="btn btn-primary btn-login">Acessar</button>
		    </div>
		</form>
	</div>

</body>
</html>

